src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:american-flights-api="http://www.mulesoft.org/schema/mule/american-flights-api" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/american-flights-api http://www.mulesoft.org/schema/mule/american-flights-api/current/mule-american-flights-api.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<flow name="getAmericanFlights" doc:id="e4138c56-d266-408c-a387-3966a0e3de15" >
		<american-flights-api:get-flights doc:name="Get flights" doc:id="aa28f268-0fa2-4645-ba12-e5c465ca8482" client-id="${american.client_id}" client-secret="${american.client_secret}" config-ref="American_Flights_API_Config" destination="#[vars.code]"/>
		<ee:transform doc:name="JSON to [Flight]" doc:id="0be7ff93-1804-41e5-8b8d-ea114807f78a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map ( payload01 , indexOfPayload01 ) -> {
	airlineName: "American",
	availableSeats: payload01.emptySeats,
	departureDate: payload01.departureDate,
	destination: payload01.destination,
	flightCode: payload01.code,
	origination: payload01.origin,
	planeType: payload01.plane."type",
	price: payload01.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="402dfdcf-1483-4f25-b4ae-a5bea4416585" />
	</flow>
	<flow name="getUnitedFlights" doc:id="4e407f0b-83a4-4a63-ba98-35b27db5945f">
		<http:request method="GET" doc:name="Getflights" doc:id="12024e4a-a886-47a6-8012-68f77960ae42" config-ref="HTTP_Request_config_training" path="/united/flights/{dest}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	dest : vars.code
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="JSON to [Flight]" doc:id="42084b68-1e2b-410d-bf04-7fdf80e82ebe" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload.flights map ( flight , indexOfFlight ) -> {
	airlineName: flight.airlineName,
	availableSeats: flight.emptySeats,
	departureDate: flight.departureDate,
	destination: flight.destination,
	flightCode: flight.code,
	origination: flight.origin,
	planeType: flight.planeType,
	price: flight.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="21d3a139-2133-47c9-9a9a-eaae80beb9d4" />
	</flow>
	<flow name="getDeltaFlights" doc:id="1c94cd6a-5fff-49ab-a32a-18f7a2c4f98c" >
		<ee:transform doc:name="Pass code" doc:id="91bef3dc-df2c-45db-aa56-44ded26f40e3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://soap.training.mulesoft.com/
---
{
	ns0#findFlight: {
		destination: vars.code
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Get flights" doc:id="ac7fe8cb-92a8-43e4-9b7e-c08c09557d89" config-ref="Delta_Web_Service_Consumer_Config" operation="findFlight"/>
		<ee:transform doc:name="SOAP to [Flight]" doc:id="9d972ff0-c195-493d-86b9-be07fce97331" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
ns ns0 http://soap.training.mulesoft.com/
---
payload.body.ns0#findFlightResponse.*return map ( return , indexOfReturn ) -> {
	airlineName: return.airlineName,
	availableSeats: return.emptySeats,
	departureDate: return.departureDate,
	destination: return.destination,
	flightCode: return.code,
	origination: return.origin,
	planeType: return.planeType,
	price: return.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="62bb28f7-a4a8-4d89-a041-0774d62cefa7" />
	</flow>
	<sub-flow name="setCode" doc:id="8a355d9e-c597-47fc-aa66-bf18094afb96" >
		<set-variable value='#[message.attributes.queryParams.code]' doc:name="code" doc:id="681ce1f5-3eac-4f94-9785-136223926f17" variableName="code"/>
	</sub-flow>
	<flow name="getAllAirlineFlights" doc:id="79b8d781-5cfb-4f07-9707-5e12c224dd7f" >
		<scatter-gather doc:name="Scatter-Gather" doc:id="c8e9b192-0a89-4832-8f53-a15bc9459343" >
			<route >
				<flow-ref doc:name="getAmericanFlights" doc:id="2fd124d7-77d5-4cca-8bc1-a8dc736fe8bb" name="getAmericanFlights"/>
			</route>
			<route >
				<flow-ref doc:name="getUnitedFlights" doc:id="8f36e172-de11-4dca-98e5-e80ec2998792" name="getUnitedFlights"/>
			</route>
			<route >
				<flow-ref doc:name="getDeltaFlights" doc:id="9d51bb70-ad54-40ff-a35f-d3ff204ba4c9" name="getDeltaFlights"/>
			</route>
		</scatter-gather>
		<ee:transform doc:name="flatten to [Flight]" doc:id="3382bddf-bd8f-43f1-a354-69e1bc213334" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
flatten(payload..payload)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="c724554c-f814-4cf1-a57d-514edc25ba94" />
	</flow>
	<flow name="getFlights" doc:id="c88a09a6-5472-4b2d-bb35-c290f3387ce1" >
		<http:listener doc:name="GET /flights" doc:id="1efd18fc-031f-4bb6-9fa0-6495e95e1572" config-ref="HTTP_Listener_config" path="/flights" allowedMethods="GET"/>
		<set-variable value="#[message.attributes.queryParams.airline]" doc:name="airline" doc:id="c38dc349-0608-483a-9143-13c87065edd9" variableName="airline" />
		<flow-ref doc:name="setCode" doc:id="86eb909f-d969-48f9-94e4-d46343b20f99" name="setCode"/>
		<validation:is-true doc:name="Is true" doc:id="a9df3871-58bc-45ed-9b6d-41ab1d5a24be" expression="#[['SFO','LAX','CLE','PDX','PDF'] contains vars.code]" message="#['Invalid destination' ++ ' ' ++ (vars.code default ' ')]"/>
		<choice doc:name="Choice" doc:id="3afbc998-dee0-43c5-a5ee-c12d853a6740" >
			<when expression="#[vars.airline == 'American']">
				<flow-ref doc:name="getAmericanFlights" doc:id="4385ec10-55b7-41ed-a6be-13296adcd7bd" name="getAmericanFlights"/>
			</when>
			<when expression="#[vars.airline == 'United']">
				<flow-ref doc:name="getUnitedFlights" doc:id="e788a856-08e9-45cd-a42f-666d4aa1d3bd" name="getUnitedFlights"/>
			</when>
			<when expression="#[vars.airline == 'Delta']">
				<flow-ref doc:name="getDeltaFlights" doc:id="11231eba-9d05-466f-bf39-b6f6fe3a9747" name="getDeltaFlights"/>
			</when>
			<otherwise >
				<flow-ref doc:name="getAllAirlineFlights" doc:id="22dfbb53-36a7-44ab-b317-46a31b814157" name="getAllAirlineFlights" />
			</otherwise>
		</choice>
		<ee:transform doc:name="[Flight] to JSON" doc:id="ddf9d6ac-0948-4604-92a4-0ed0aba173ed" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="7ac2b0b8-9b71-4e56-b69f-2abc0dd94afa" />
	</flow>
</mule>
