src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:american-flights-api="http://www.mulesoft.org/schema/mule/american-flights-api" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/american-flights-api http://www.mulesoft.org/schema/mule/american-flights-api/current/mule-american-flights-api.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
	<flow name="getAmericanFlights" doc:id="e4138c56-d266-408c-a387-3966a0e3de15" >
		<http:listener doc:name="GET /american" doc:id="b5ceb170-0a85-4074-804c-be43ea9f403a" config-ref="HTTP_Listener_config" path="/american" allowedMethods="GET"/>
		<flow-ref doc:name="setCode" doc:id="3ce2a734-da0c-414c-9562-d11f07f70fbc" name="setCode"/>
		<american-flights-api:get-flights doc:name="Get flights" doc:id="aa28f268-0fa2-4645-ba12-e5c465ca8482" client-id="${american.client_id}" client-secret="${american.client_secret}" config-ref="American_Flights_API_Config" destination="#[vars.code]"/>
		<ee:transform doc:name="JSON to [Flight]" doc:id="0be7ff93-1804-41e5-8b8d-ea114807f78a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map ( payload01 , indexOfPayload01 ) -> {
	airlineName: "American",
	availableSeats: payload01.emptySeats,
	departureDate: payload01.departureDate,
	destination: payload01.destination,
	flightCode: payload01.code,
	origination: payload01.origin,
	planeType: payload01.plane."type",
	price: payload01.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="402dfdcf-1483-4f25-b4ae-a5bea4416585" />
	</flow>
	<flow name="getUnitedFlights" doc:id="4e407f0b-83a4-4a63-ba98-35b27db5945f">
		<http:listener doc:name="GET /united" doc:id="d6832c21-e934-4aa6-a173-4107179e1d4b" config-ref="HTTP_Listener_config" path="/united" allowedMethods="GET" />
		<flow-ref doc:name="setCode" doc:id="cb4ed203-e246-4337-ac2c-c0553e762612" name="setCode"/>
		<http:request method="GET" doc:name="Getflights" doc:id="12024e4a-a886-47a6-8012-68f77960ae42" config-ref="HTTP_Request_config_training" path="/united/flights/{dest}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	dest : vars.code
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="JSON to [Flight]" doc:id="42084b68-1e2b-410d-bf04-7fdf80e82ebe" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload.flights map ( flight , indexOfFlight ) -> {
	airlineName: flight.airlineName,
	availableSeats: flight.emptySeats,
	departureDate: flight.departureDate,
	destination: flight.destination,
	flightCode: flight.code,
	origination: flight.origin,
	planeType: flight.planeType,
	price: flight.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="21d3a139-2133-47c9-9a9a-eaae80beb9d4" />
	</flow>
	<flow name="getDeltaFlights" doc:id="1c94cd6a-5fff-49ab-a32a-18f7a2c4f98c" >
		<http:listener doc:name="GET /delta" doc:id="0155e637-85bb-42f0-a39f-b7e5f6d8b914" config-ref="HTTP_Listener_config" path="/delta" allowedMethods="GET"/>
		<flow-ref doc:name="setCode" doc:id="8ce2f783-c4cd-4d3e-895d-19e099debefd" name="setCode"/>
		<ee:transform doc:name="Pass code" doc:id="91bef3dc-df2c-45db-aa56-44ded26f40e3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://soap.training.mulesoft.com/
---
{
	ns0#findFlight: {
		destination: vars.code
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Get flights" doc:id="ac7fe8cb-92a8-43e4-9b7e-c08c09557d89" config-ref="Delta_Web_Service_Consumer_Config" operation="findFlight"/>
		<ee:transform doc:name="SOAP to [Flight]" doc:id="9d972ff0-c195-493d-86b9-be07fce97331" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
ns ns0 http://soap.training.mulesoft.com/
---
payload.body.ns0#findFlightResponse.*return map ( return , indexOfReturn ) -> {
	airlineName: return.airlineName,
	availableSeats: return.emptySeats,
	departureDate: return.departureDate,
	destination: return.destination,
	flightCode: return.code,
	origination: return.origin,
	planeType: return.planeType,
	price: return.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="62bb28f7-a4a8-4d89-a041-0774d62cefa7" />
	</flow>
	<sub-flow name="setCode" doc:id="8a355d9e-c597-47fc-aa66-bf18094afb96" >
		<set-variable value='#[message.attributes.queryParams.code default "SFO"]' doc:name="code" doc:id="681ce1f5-3eac-4f94-9785-136223926f17" variableName="code"/>
	</sub-flow>
</mule>
